.chartContainer {
    width:800px;
}

body {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.source{
    font-family: helvetica, sans-serif;
    font-size: .75em;
    margin-left:15px;
    margin-top:10px;
    font-style: italic;
}

h1 {
    font-family: helvetica, sans-serif;
}